transformers==4.41.0
#transformers==4.37.0
#transformers==4.40.0
#transformers==4.34.0
transformers_stream_generator==0.0.5
#torch==2.0.1 --index-url https://download.pytorch.org/whl/cu118
#torchvision==0.15.2 --index-url https://download.pytorch.org/whl/cu118
#torchaudio==2.0.2 --index-url https://download.pytorch.org/whl/cu118
#gradio==4.29.0
torch==2.1.2 --index-url https://download.pytorch.org/whl/cu121
torchvision==0.16.2 --index-url https://download.pytorch.org/whl/cu121
torchaudio==2.1.2 --index-url https://download.pytorch.org/whl/cu121
streamlit
sentencepiece==0.1.99
accelerate==0.32.1
openxlab
tiktoken
einops
oss2
requests
